#recordTable .table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#recordTable .table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

#loadList .list-view .list-cell {
    -fx-alignment: center;
}

<TableView> id="recordTable"</TableView>

<ListView> id="loadList"</ListView>